.home-hero, .project-hero, .about-hero {
    @apply relative;

    &:after {
        content: '';
        background-image: url("../../img/svg/pattern-bg.svg");

        width: clamp(140px, 25vw, 380px);
        height: clamp(140px, 25vw, 380px);

        @apply absolute -z-10 bottom-0 right-0 bg-contain bg-no-repeat bg-center;
    }
}

.project-gallery {
    @apply relative;

    &:after {
        content: '';
        background-image: url("../../img/svg/pattern-bg.svg");

        width: clamp(140px, 25vw, 380px);
        height: clamp(140px, 25vw, 380px);

        @apply rotate-y-180 absolute -z-10 bottom-0 left-0 bg-contain bg-no-repeat bg-center;
    }
}

.cta {
    @apply relative overflow-hidden;

    &:after {
        content: '';
        background-image: url("../../img/svg/pattern-bg.svg");

        width: clamp(140px, 25vw, 380px);
        height: clamp(140px, 25vw, 380px);

        @apply absolute  bottom-0 left-0 rotate-y-180 bg-contain bg-no-repeat bg-center;
    }
}
